body {
    font-family: sans-serif;
}

#products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    background-color: #f0f0f0;
}

.product {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    justify-content: space-between;
}

.product img {
    width: 100%;
    height: auto;
}

.description {
    padding: 10px;
    text-align: center;
}

.view-details {
    padding: 10px;
    background-color: #007bff;
    color: white;
    text-align: center;
    text-decoration: none;
    margin: 10px;
    border-radius: 5px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    max-width: 500px;
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.order-form {
    max-width: 800px; /* Align with the product listing width */
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

    .order-form h2 {
        text-align: center;
    }

    .order-form form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .order-form input[type="text"],
    .order-form input[type="email"],
    .order-form select {
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 4px;
        border: 2px solid #ddd;
    }

    .order-form input[type="button"] {
        background-color: #007bff;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
        .order-form input[type="button"]:disabled {
            background-color: darkgray;
            cursor: not-allowed;
        }

        .order-form input[type="button"]:hover {
            background-color: #0056b3;
        }
            .order-form input[type="button"]:hover:disabled {
                background-color: darkgray;
            }
        

    .order-form input.has-success,
    .order-form select.has-success {
        border-color: green;
    }

    .order-form input.has-error,
    .order-form select.has-error {
        border-color: red;
    }
