<div class="product">
    <img src="product1.jpg" alt="Product 1">
    <div class="description">Short description of Product 1</div>
    <button class="view-details" onclick="openModal('modal1')">View Details</button>
</div>