@model ProductViewModel

<div class="product">
    <img src="~/img/@Model.ImageFileName" alt="@Model.Name">
    <div class="description">@Model.ShortDescription</div>
    <button class="view-details" data-product-id="@Model.Id">View Details</button>
</div>
