@model ProductViewModel

<div class="product">
    <img src="~/img/@Model.ImageFileName" alt="@Model.Name">
    <div class="description">@Model.ShortDescription</div>
    <div class="product-actions">
        <button class="view-details" data-product-id="@Model.Id">View Details</button>
        <button class="add-to-cart" data-product-id="@Model.Id">Add to Cart</button>
    </div>
</div>
