@model List<ProductViewModel>
@{
    ViewData["Title"] = "Product Listing";
}

<div id="products">
    @foreach (var product in Model)
    {
        <partial name="_ProductItem" model="product"/>
    }
</div>

@section Scripts {
    <script>
        $(function () {
            MyApp.ProductListing.Init();
        });
        function openModal() {
            document.getElementById('modal1').style.display = "block";
        }

        function closeModal() {
            document.getElementById('modal1').style.display = "none";
        }
    </script>
}